{% comment %}
所有模版变量
博客管理模版静态目录url：static_root
自定义head模块:block specified_head  
标题模块：block title
右侧模块：block right_content
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block specified_head %}{% endblock %}
<title>{% block title %}又一个玻璃齿轮{% endblock %}</title>

<body>
<div id="main_container">
	{% block right_content %}
	{% endblock %}
</div>
{% block add_on %}
{% endblock %}
</body>
</html>
