@font-face
{
font-family: Glegoo;
src: url('fonts/Glegoo.ttf');
}
body {
	vertical-align: baseline;
    background-color:#EAEAEA;
    margin:0px 0px 0px 0px;
    line-height:21px;
    font-family:'Glegoo',"Microsoft YaHei","SimHei",Arial,Helvetica,Verdana,sans-serif;
    font-size:15px;
    font-weight: inherit;
    color: rgb(119, 119, 119);
    }
p,a{
    text-decoration:none;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0px none;
    padding: 0px;
    margin: 0px;/*火狐的<p>默认有外边距，用这个来去除默认外边距,不然顶部会显示不正常，会自动跨行*/
    border: 0px none;
    color:inherit;
    }
ol, ul {
    list-style: none outside none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    color: rgb(68, 68, 68);
    margin-bottom: 14px;
}
h5{
	font-size:18px;
}
/*按钮*/
.buttonShadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn {
    display:inline-block;
    border-radius: 2px 2px 2px 2px;
    transition: all 0.5s ease 0s;
    padding: 7px 20px;
    }
.darkBtn{
    background:none repeat scroll 0% 0% rgb(51, 51, 51);
    color:rgb(255,255,255);
    }
.darkBtn:hover{
    background:none repeat scroll 0% 0% #316E46;
    }

.lightBtn:hover {
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
}
.lightBtn {
	border: none;
	cursor: pointer;
    background: none repeat scroll 0% 0% #316E46;
    color: rgb(255, 255, 255);
}
/*按钮结束*/
/*社交图标*/
.socialIcon{
	display:block;
	width: 30px;
	height: 30px;
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:center;
}
#rssIcon{
	background-image:url("../img/main/icon/rss_green.png");
}
#rssIcon:hover{
	background-image:url("../img/main/icon/rss_white.png");
}
#googlePlusIcon{
	background-image:url("../img/main/icon/google_green.png");
}
#googlePlusIcon:hover{
	background-image:url("../img/main/icon/google_white.png");
}
#qZoneIcon{
	background-image:url("../img/main/icon/qq_green.png");
}
#qZoneIcon:hover{
	background-image:url("../img/main/icon/qq_white.png");
}
#githubIcon{
	background-image:url("../img/main/icon/github_green.png");
}
#githubIcon:hover{
	background-image:url("../img/main/icon/github_white.png");
}
/*社交图标结束*/

/*文章图标部分*/
.formatIcon {
    background-position: 0px 0px;
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -9px;
    top: 20px;
    
    }
.formatIcon.webBlog{
    background: url("../img/main/posticon/webblog.gif") no-repeat;
    background-size: 20px 20px;
    }
.formatIcon.comments {
    background: url("../img/main/posticon/comment.png") no-repeat;
	background-size: 20px 20px;
}
span.icon.heart{
    background: url("../img/main/icon/heart.gif") no-repeat;
    }
span.icon.postAuthor{
    background: url("../img/main/icon/author.png")
    }
span.icon.postTags{
    background: url("../img/main/icon/tags.png")
    }
span.icon.postComments{
    background: url("../img/main/icon/commentcount.png")
    }
span.icon.heart,span.icon.postAuthor,span.icon.postTags,span.icon.postComments{
    float:left;
    background-size: 14px 14px;
    width:14px;
    height:14px;
    display:block;
    position:relative;
    bottom:-4px;
    margin-right:4px;
    }/*这部分必须放置在规定background图片的后面，否则会出现格式无法应用*/

/*文章图标部分结束*/

/*整体配色*/
div.postFormat,div#topBar {
    background-color: #316E46;/*绿色部分*/
    }
/*配色结束*/
.clear {
    clear:both;
    }
div#boxed {
    margin:0px 0px 0px 0px;
    width: 1220px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    margin:0px auto !important;
    transition:margin 0.2s ease 0s;
    }
div#topBar,div#headerSection,div#mainContainer,div#footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }
img.icon {
    margin-bottom:-2px;
    width:15px;
    height:15px;
    padding-right:1em;
    }
/*topBar部分*/

div#topBar {
    color:#FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding:7px 0px;
    }
div#topBar div.container {
    line-height:30px;
    width:1170px;
    margin-left: auto;
    margin-right: auto;
    }

div.contactMsg,div.topSocial {
    width:570px;
    float:left;
    }
div.topSocial{
    float:right;
    }
.topSocial p a{
    float:right;
    }
.contactMsg p a{
    color:#FFFFFF;
    }
/*topBar部分结束*/
/*headerSection部分*/
div#headerSection{
    /*font-family: inherit;*/
    
    padding:20px 0px;
    background-color:white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.33);
    position: relative;
    z-index:99999;
    overflow:visible !important;
    }
div#logo{
    color:black;
    font-size:28px;
    margin:0px 0px;
    padding-left:20px;
    float:left;
    /*width:270px;*/
    }

div#navBar{
    float:right;
    padding-right:30px;
    }
/*headerSection部分结束*/

/*mainContent部分开始*/
div#mainContent{
    padding: 1px 1px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    overflow: visible !important;
    }
div#emptyPageTitle{
    overflow: hidden;
    padding: 20px 0px;
    }
#leftContent{
    width: 770px;
    float: left;
    min-height: 1300px;
    margin-left: 30px;
    }
#rightContent{
    width: 370px;
    float: right;
    margin-right: 30px;
    }
    /*mainContent中的ariticle部分开始*/
article{
    float:left;
    margin-bottom: 30px;
    display: block;
    }
article p{
	line-height: 23px;
}
article aside.postSide{
    float: left;
    width: 70px;
    margin-right: 20px;
    }
div.postFormat{
    height: 60px;
    margin-bottom: 20px;
    position:relative;
    border-radius:2px 2px 2px 2px;
    }
.postDate .postMonth {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    padding: 2px 0px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    background: none repeat scroll 0% 0% rgb(45, 45, 45);
    margin-bottom: 5px;
}
.postDate{
    background:#E7E7E7;;
    width:70px;
    height:80px;
    overflow:hidden;
    float:left;
    margin-right:15px;
    border-radius:2px 2px 2px 2px;
    margin-bottom:10px;
    }
.postDate span{
    width:70px;
    display:block;
    text-align: center;
    color: rgb(51, 51, 51);
    }
.postDate .postMonth{
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    font-size:14px;
    padding:2px 2px;
    color:#ffffff;
    text-shadow:1px 1px 1px 1px;
    text-transform:uppercase;
    background: none repeat scroll 0% 0% rgb(45, 45, 45);
    margin-bottom:5px;
    }
.postDate .postDay{
    text-transform:uppercase;
    font-weight:bold;
    font-size:25px;
    padding-top:5px;
    }
.postDate .postYear{
    font-size:14px;
    }
div.like_it{
    margin-left:20px;
    }
.like_count{
    float:left;
    font-size:13px;
    }
article div.postContent{
    width:670px;
    float:right;
    overflow:hidden;
    margin-bottom: 15px;
}
.postMeta{
    padding:0px;
    margin:0px 0px 10px;
    }    
.postMeta li{
    display:inline-block;
    margin-right: 15px;
    margin-left: 0px;
    color: rgb(95, 95, 95);
    }
a.readMore{
    display: block;
    margin-top: 40px;
    }
    /*mainContent中的ariticle部分结束*/
    /*翻页按钮开始*/
.mainPagination {
	position:relative;
	bottom:-100px;
    overflow: hidden;
    width:770px;
}
.pagesNambers {
    overflow: hidden;
    float: left;
}
.pagination {
    display: block;
    padding-right: 0px;
    overflow: hidden;
    margin-bottom: 20px;
    float: left;
    clear: left;
}
.pageBtn{
	padding:7px;
	font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-right: 7px;
    background: none repeat scroll 0% 0% rgb(231, 231, 231);;
    color: rgb(51, 51, 51);
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 2px 2px;
    display: block;
    padding: 7px 15px;
    float: left;
    transition: all 0.2s linear 0s;
}
.pageBtn:hover{
	color:white;
	background-color:#3B3B3B;
}
.pagination span.current_page {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-right: 7px;
    background: none repeat scroll 0% 0% #316E46;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 2px 2px;
    display: block;
    padding: 7px 15px;
    float: left;
}
.paginationLinks {
    float: right;
    overflow: hidden;
}
a.nextPage,a.previousPage{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-right: 7px;
    background: none repeat scroll 0% 0% #2C2C2C;
    color: #E7E7E7;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 2px 2px;
    display: block;
    padding: 7px 15px;
    transition: all 0.2s linear 0s;
}
a.nextPage:hover,a.previousPage:hover{
	color:black;
	background-color:#E7E7E7;
	}
    /*翻页按钮结束*/
/*maincontent部分结束*/   
/*侧边栏rightcontent部分开始*/
	/*登陆&用户信息部分开始*/
#username,#pwd {
	position:relative;
	padding:10px;
	display:block;
	width:348px;
	margin-bottom:10px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,select{
	font-family: Glegoo,sans-serif;
	border:1px solid rgb(224, 224, 224);
	font-size:13px;
	margin:0px;
	box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.03)
	border-radius:2px 2px 2px 2px;
	transition: border 0.2s linear 0s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus{
	border:1px solid #349539;
}

.loginBtn{
	padding: 10px;
}
#remeberme{
	font-size:13px;
	}
ul#login-links{
	font-size:13px;
	margin-top:0px;
	padding-left:0px;
	display:block;
	}
#login-links li{
	padding: 8px 0px;
	display:inline-block;
}
	/*登陆&用户信息部分结束*/
	/*最新文章部分开始*/
h4.widget{
	display:block;
	font-size: 16px;
	color: rgb(68, 68, 68);
	margin-bottom: 10px;
	text-transform: uppercase;
}
.projectItem{
	position:relative;
	overflow:hidden;
}

.projectItem img{
	width: 370px;
	height: 240px;
}

article.recentPost{
	float:none;
}
div.projectInfo{
	position:absolute;
	top:100%;
	width:100%;
	height: 100%;
	text-align: center;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
	transition: all 0.2s linear 0s;
}
div.projectInfoData{
	margin-top:50%;
}
div.projectInfoData a{
	font-size:12px;
	margin-left:5px;
}
.projectItem:hover .projectInfo{
	top:0%;
}
div.projectInfoData a:hover{
	background-color:#000000;
}
		/*文章信息部分部分*/
.projectTitle{
	font-weight:bold;
	text-rendering: optimizeLegibility;	
	margin-top:0px;
}
.projectMeta{
	font-size:11px;
}
.projectDetails{
	padding-top:10px;
	padding-bottom:10px;
	border-radius:2px;
	transition:all 0.2s linear 0s;
}
.recentPost:hover .projectDetails{
	background-color:#316E46;
	padding-left:20px;
}
.recentPost:hover .projectDetails a,
.recentPost:hover .projectDetails span{
	color:#ffffff;
}
		/*文章信息部分结束*/
	/*最新文章部分结束*/
	/*tabs部分开始*/
#navTabs {
	border-radius:0;
	background:none;
	border:none;
	padding:0;
}
#navTabs>ul{
	border-radius:0;
	padding:0;
	background-image:none;
	background-color:#E7E7E7;
	border:none;
}
div.navTabsClass>ul{
	position:relative;
	top:-1em;
	left:-1em;
	padding:0;
}
#navTabs>ul li{
	background-image:none;
	padding:0;
	border-radius:0;
	width:25%;
	margin:0;
	border:none;

}

#navTabs>ul li.ui-tabs-active {
	background-color:#316E46;
}
#navTabs>ul li.ui-tabs-active a{
	color:white;
}
#navTabs>ul li a{
	padding:0.5em 0;
	width:100%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	color:black;
	font-size:13px;
}


		/*最热最新文章部分开始*/
div.tabsPostThumb{
	float:left;
}
div.navTabsClass li{
	padding:1px 0;
	width:100%;
	display:block;
	float:left;
	color:rgb(119, 119, 119);
}
div.tabsPosts li a,
div.tabsComments li a,
div.tabsComments li p,
div.tabsPosts li p{
	padding:1em 0;
	font-size:13px;
}
div.tabsComments li a,
div.tabsPosts li a{
	font-size:15px;
}
div.tabsPostDetail{
	float:left;
	padding-left:20px;
}
		/*最热最新文章部分结束*/
		/*标签云部分开始*/
div.tabsTags ul{
	width:360px;
}
div.tabsTags li{
	width:auto;
}
div.tabsTags a{
    font-size: 13px;
    text-align: center;
    margin-right: 1px;
    background: none repeat scroll 0% 0% rgb(231, 231, 231);
    color: rgb(51, 51, 51);
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 2px 2px;
    display: block;
    padding: 2px 15px;
    float:left;
    transition: all 0.2s linear 0s;
}
div.tabsTags a:hover{
    color: white;
    background-color: #316E46;
}

		/*标签云部分结束*/
	/*tabs部分结束*/
/*侧边栏部分结束*/
/*mainContent部分结束*/
/*footer部分结束*/
div#footer{
    background-color:#2D2D2D;
    padding:1px;
    }
div#infoCollection{
	margin:30px 30px;
}
div#infoCollection h2{
	font-weight:bold;
	color:#969696;
}
div#tellMe>p{
	padding:5px;
}
div#tellMe{
	float:left;
	width:730px;
}

#fname,
#femail,
#fwebsite,
#fmessage{
	width:51%;
	color:white;
	position: relative;
	padding: 10px;
	display: block;
	margin-bottom: 10px;
	background-color:#1E1E1E;
	border: 1px solid #2D2D2D;
	
}
#fmessage{
	width:90%;
}
input#fname:focus,
input#femail:focus,
input#fwebsite:focus,
#fmessage:focus{
    border: 1px solid #316E46;
}
div#footerSideBar{
	width:370px;
	float:right;
}
div#footerSideBar div{
	width:100%;
}
#tellMeformSubmit{
	border:none;
	background-color:#1E1E1E;
}
#tellMeformSubmit:hover{
	background-color:rgb(40, 40, 40);
}
div#footerSideBar{
	height:360px;
}
div#footerSideBar div{
	height:50%;
	overflow:hidden;
	}
div.friendsLinks ul{
	display:block;
	padding:0;
}
div.friendsLinks li{
	padding:1px 0;
	}

.aboutMe h1,
.aboutMe p{
	display:block;
	padding:2px;
}
div#copyright p{
	padding: 10px 0px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
/*footer部分结束*/
/*read页面样式定义*/
ul.commentsList {
	padding:0 0px;
	
}
ul.commentsList li{
	width:100%;
	float:left;
	display:block;
	border-top: 1px solid rgba(220, 220, 220, 0.7);
}
.comment-avatar {
	margin: 10px 0px;
	float:left;
}
div.comment-content {
	margin: 5px 0px;
	padding-left: 60px;
}
.comment-avatar img{
	width:50px;
	height:50px;
}
div.comment-header a{
	color:rgb(49, 110, 70);
	margin:0.5em 0;
}
div.comment-body p{
	color:#1A1A1A;
	margin:0.5em 0;
}
.replyIcon {
	display:block;
	float:left;
	width:17px;
	height:14px;
	background-image:url("../img/main/posticon/reply.png");
	
}
div.comment-function a,
div.comment-function span{
	float:left;
	font-size:12px;
	margin:0.3em 0;

} 
div.comment-function a{
	margin-left:1em;
	margin-right:1em;
	}
div.comment-function a:hover {
    color: rgb(85, 85, 85);
}
.comment-of-comment .comment-avatar img{
	margin-left:20px;
	width:30px;
	height:30px;
}
.paginationArticle {
	bottom:0px;
	padding:10px 0;
}
.previousPage {
	float:left;
	}
.nextPage{
	float:right;
}

/*read页面样式定义结束*/
/*修正ueditor代码现实不换行bug*/
.syntaxhighlighter td.code {
    word-break: break-all;
}
/*修正ueditor代码现实不换行bug*/
