<!DOCTYPE html>
<html lang="zh-cn"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>登录 | {{ site_name }} </title>
<link rel="stylesheet" type="text/css" href="/static/blog/login/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/blog/login/css/login.css">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class="login">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">{{ site_name }}-登陆</h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">
<form action="" method="post" id="login-form"><input name="csrfmiddlewaretoken" value="6dMolGzXfmsJLY5FbaiKx5tdDeJ32B5f" type="hidden">
  <div class="form-row">
    
    <label for="id_username" class="required">用户名:</label> <input value="winkidney" id="id_username" maxlength="254" name="username" type="text">
  </div>
  <div class="form-row">
    
    <label for="id_password" class="required">密码：</label> <input id="id_password" name="password" type="password">
    <input name="this_is_the_login_form" value="1" type="hidden">
    <input name="next" value="" type="hidden"><!--暂时没有用到-->
  </div>
  
  
  <div class="submit-row">
    <label>&nbsp;</label><input value="登录" type="submit">
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->



</body></html>
