<!DOCTYPE html>
<html lang="zh-cn"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>提示 | {{ site_name }} </title>
<link rel="stylesheet" type="text/css" href="/static/blog/login/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/blog/login/css/login.css">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class="login">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">{{ site_name }}-提示</h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">
<form action="/admin/" method="post" id="login-form"><input name="csrfmiddlewaretoken" value="6dMolGzXfmsJLY5FbaiKx5tdDeJ32B5f" type="hidden">
  <div class="form-row">
    
    <h1 align="center">您必须先退出登陆 ^_^</h1> 
  </div>
  
  
  <div class="submit-row">
	  <input type="button" value="注销帐号"  onclick="location.href='../logout/'">
  </div>
</form>
</div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->



</body></html>
