{% extends "blog/archives.html" %}
{% block title %}文章归档 | {{ data.basic_info.blog_settings.page_title }}{% endblock %}
{% block archive_nav %}
	<p>您目前的位置</p><a class="main_menu" href="{{ data.basic_info.blog_archives_url }}">&gt;归档</a>
{% endblock %}
{% block left_content %}
	{% for year in archives_index.yearlist %}
		{% for kyear,months in archives_index.bymonth_dict.items %}
			{% if year == kyear %}
				<article>
					<aside class="postSide">
						<div class="postFormat archive-year">
							<p>{{ kyear }}</p>
						</div>
					</aside><!--end aside postside-->
					<div class="postContent archive-index">
						<ul>
							{% for month in months %}
							<li><a href="{{ data.basic_info.blog_archives_url }}/{{ year }}/{{ month }}/" >{{ month }}月</a></li>
							{% endfor %}
						</ul>
					</div><!--end  postContent-->
				</article><!--end article-->
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endblock %}
{% block main_pagination %}
{% endblock %}
