<!doctype html>
<html  lang="zh-CN">
<head>
	<title>
		{% block title %}{{ data.basic_info.blog_settings.page_title }}{% endblock %}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!--jquery-ui-->
		<link href="{{ data.basic_info.static_root }}/blog/share/jquery/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
		<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script-->
		<script src="{{ data.basic_info.static_root }}/blog/share/jquery/js/jquery-1.9.1.js"></script>
		<script src="{{ data.basic_info.static_root }}/blog/share/jquery/js/jquery-ui-1.10.3.custom.js"></script>
	<!--juery-ui end-->
	<!--img box start-->
		<link rel="stylesheet" href="{{ data.basic_info.static_root }}/blog/share/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
		<script src="{{ data.basic_info.static_root }}/blog/share/prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
	<!--img box end-->
    <!--validation start-->
        <script src="{{ data.basic_info.static_root }}/blog/share/validation/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ data.basic_info.static_root }}/blog/share/validation/additional-methods.min.js" type="text/javascript" charset="utf-8"></script>
        <!--validation end-->
	<!--ueditor synatx highlight-->
	<script type="text/javascript" src="{{ data.basic_info.static_root }}/share/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>   
	<link rel="stylesheet" href="{{ data.basic_info.static_root }}/share/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" type="text/css" />
	<!--ueditor synatx highlight end-->
	<!--template own-->
	<link rel="stylesheet" type="text/css" href="{{ data.basic_info.template_root }}/files/nav.css">
	<link rel="stylesheet" type="text/css" href="{{ data.basic_info.template_root }}/files/style.css">
	<!--template own end-->	
</head>

<body>
<div id="boxed">
	
	<div id="topBar">
		<div class="container">
			<div class="contactMsg">
				<p>
					<a><img class="icon" src="{{ data.basic_info.template_root }}/img/main/icon/qq_white.png"/>QQ：584532559</a>
					<a href="mailto:winkidney@gmail.com"><img class="icon" src="{{ data.basic_info.template_root }}/img/main/icon/mail.png" />邮箱：winkidney@gmail.com</a>
				</p>
			</div>
			<div class="topSocial">
				<p>
					<a title="订阅最新文章" href="/feeds/lastest/" class="socialIcon" id="rssIcon"></a>
					<a title="Google+" href="https://plus.google.com/107141107603449735107/posts" target="_blank" class="socialIcon" id="googlePlusIcon"></a>
					<a title="QQ空间" href="http://user.qzone.qq.com/584532559" target="_blank" class="socialIcon" id="qZoneIcon"></a>
					<a title="My Github" href="https://github.com/winkidney"  target="_blank" class="socialIcon" id="githubIcon"></a>
				</p>
			</div>
			<div class="clear"></div>
		</div><!--endcontainer-->

	</div><!--end topBar-->
	
	<div id="headerSection">
		
		<div class="container">
			<div id="logo">
				<a href="{{ data.basic_info.blog_root_url }}/"><p>{{ data.basic_info.blog_settings.logo_txt1 }}{{ data.basic_info.blog_settings.logo_txt2 }}</p></a>
			</div>
            <div id="navBar">
                    <ul>
                        <li class="link"><a  class="main_menu" href="{{ data.basic_info.blog_root_url }}/">主页</a></li>
                        {% for menu in data.header_menu.ttypes_display %}
                        <li>
                            <span class="Darrow"></span>
                            <a class="main_menu" href="{{ menu.link }}">{{ menu.parent.name }}</a>
                            <ul>
                                {% for child in menu.children %}
                                <li class="submenu"><a href="{{ child.link }}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                        <li class="link"><a  class="main_menu" href="{{ data.basic_info.blog_archives_url }}">归档</a></li>
                        <li class="link"><a  class="main_menu" href="#postComments">给我留言</a></li>
                        <li class="link"><a  class="main_menu" href="{{ data.basic_info.blog_root_url }}/about/">关于</a></li>
                    </ul>
            </div><!--end navBar-->
			
			
			<div class="clear"></div>
		</div><!--end container-->
	</div><!--end headerSection-->
	
	<div id="headerSectionFloat">
		
		<div class="container">
			<div id="logo">
				<a href="{{ data.basic_info.blog_root_url }}/"><p>{{ data.basic_info.blog_settings.logo_txt1 }}{{ data.basic_info.blog_settings.logo_txt2 }}</p></a>
			</div>
            <div id="navBar">
                    <ul>
                        <li class="link"><a  class="main_menu" href="{{ data.basic_info.blog_root_url }}/">主页</a></li>
                        {% for menu in data.header_menu.ttypes_display %}
                        <li>
                            <span class="Darrow"></span>
                            <a class="main_menu" href="{{ menu.link }}">{{ menu.parent.name }}</a>
                            <ul>
                                {% for child in menu.children %}
                                <li class="submenu"><a href="{{ child.link }}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                        <li class="link"><a  class="main_menu" href="{{ data.basic_info.blog_archives_url }}">归档</a></li>
                        <li class="link"><a  class="main_menu" href="#postComments">给我留言</a></li>
                        <li class="link"><a  class="main_menu" href="about/">关于</a></li>
                    </ul>
            </div><!--end navBar-->
			
			
			<div class="clear"></div>
		</div><!--end container-->
	</div><!--end headerSectionFloat-->

	<div id="mainContent">
		<div class="cotainer">
			<div id="archive_nav">
			{% block archive_nav %}
			{% endblock %}
			</div>
			<div id="emptyPageTitle"></div>
			<div id="leftContent">
				{% block left_content %}
				{% for post_summary in post_summarys %}
				<article>
					<aside class="postSide">
						<div class="postFormat">
							<i class="formatIcon webBlog"></i>
						</div>
						<div class="postDate">
							<span class="postMonth">{{ post_summary.pub_date_mixed.month }}</span>
							<span class="postDay">{{ post_summary.pub_date_mixed.day }}</span>
							<span class="postYear">{{ post_summary.pub_date_mixed.year }}</span>
						</div>
						<div class="like_it">
							<a id="like-0000" class="likeThis" href="#">
								<span class="icon heart"></span>
								<span class="like_count">10</span>
							</a>
						</div>
					</aside><!--end aside postside-->
					<div class="postContent">
						<h1>
							<a href="{{ data.basic_info.articles_url }}/{{ post_summary.article_id }}/">{{ post_summary.title }}{% if post_summary.short_title %}--{{ post_summary.short_title }}{% endif %}</a>
						</h1>
						<ul class="postMeta">
							<li class="postAuthor"><span class="icon postAuthor"></span>{{ post_summary.authorname }}</li>
							<li class="postTags"><span class="icon postTags"></span>
								{% for tag in post_summary.tags %}
									<a href="{{ data.basic_info.blog_tags_url }}/{{ tag.tagname }}/">{{ tag.tagname }}</a>, 
								{% endfor %}
							</li>
							<li class="commentCount"><span class="icon postComments"></span>{{ post_summary.comment_count }}次吐槽</li>
							<li class="edit">
								{% if data.basic_info.show_edit %}
									<a href="{{ data.basic_info.blog_edit_url }}/{{ post_summary.article_id }}/">编辑</a>
								{% endif %}
							</li>
						</ul>
						<div class="mainPostContents">
                            {% autoescape off %}
								<p>{{ post_summary.summary }}</p>
                            {% endautoescape %}
								<a class="readMore" href="{{ data.basic_info.articles_url }}/{{ post_summary.article_id }}/"><span class="postMore btn darkBtn buttonShadow">阅读更多</a>
						</div><!--end mainPostContents-->
					</div><!--end  postContent-->
				</article><!--end article-->
				{% endfor %}
				{% endblock %}
				{% block main_pagination %}
				<div class="mainPagination">
					<div class="pagesNambers">
						<div class="pagination">
						{% for btn in pagination.cur_btns %}
							{% if btn == pagination.cur_btn %}
							<span class="current_page ">{{ btn }}</span>
							{% else %}
							<a href="{{ data.basic_info.blog_page_url }}/{{ btn }}/" class="pageBtn">{{ btn }}</a>
							{% endif %}
						{% endfor %}
						</div>
					</div><!--end pagesNumbers-->
					{% if pagination.next %}
					<div class="paginationLinks">
						<a href="{{ data.basic_info.blog_page_url }}/{{ pagination.next }}/" class="nextPage blackToWhiteBtn" >&gt;</a>
					</div><!--end PaginationLinks-->
					{% endif %}
				</div><!--end mainPagination-->
				{% endblock %}
			</div><!--end maintContainer  leftContent-->
			
			
			<div id="rightContent">
				
				<div id="user_login_div" {% if not data.user_info.logined %}style='display:block;'{% endif %}>
					<form id="login_form" method="post" action="{{ data.basic_info.login_url }}/">
						{% csrf_token %}
						<input type="text" name="username" id="username" placeholder="用户名"></input>
						<input type="password" name="password" id="pwd" placeholder="密码"  ></input>
						<button id="login-submit" class="loginBtn lightBtn btn buttonShadow" name="submit" type="submit">登陆</button>
						<label id="remeberme" for="remeberme">
							<input  type="checkbox" value="forever" checked="" name="remeberme">记住我</input>                                                                                                                                                                                                                                                              
						</label>
					</form><!--end form-->
					<ul id="login-links">
						<li><a href="#" >忘记密码？</a></li>
						<li><a href="#" >注册</a></li>
						<li class="clear"></li>
					</ul>
				</div><!--end user_login_div-->
				
                
                <div id='user-panel' {% if data.user_info.logined %}style='display:block;'{% endif %}>
                    <h5 class="widget">
                        |欢迎----<a>{{ data.user_info.name }}</a>
                    </h5>
                    <ul class='panel-function'>
                    {% for func in data.basic_info.shortcut_menu %}
                        <li><a href='{{ func.1 }}' >{{ func.0 }}</a></li>
                    {% endfor %}
                    </ul>
                </div><!--end div user-panel-->
                
			{% block last_recent_post %}
				
				<h4 class="widget">最新作品</h4>
				<div id="lastRecentPost">
				{% for post in data.posts_getter.lastest %}
					{% if forloop.counter < 3 %}
					<article class="recentPost">
						<div class="projectItem">
							<div class="lastRecentImg">
								<img title="文学少女" src="{% if post.cover_link %}{{ post.cover_link }}{% else %}{{ data.basic_info.template_root }}/img/main/example/greengear.png{% endif %}" />
							</div>
							<div class="projectInfo">
								<div class="projectInfoData">
								
									<a class="ProjectZoom lightBtn btn buttonShadow" href="{% if post.cover_link %}{{ post.cover_link }}{% else %}{{ data.basic_info.template_root }}/img/main/example/greengear.png{% endif %}" rel="prettyPhoto" title="{{ post.title }}">放大查看</a>
									<a class="prjectMore lightBtn btn buttonShadow" href="{{ post.link }}" >察看详细</a>
								</div>
							</div>
						</div>
						<div class="projectDetails">
							<h5 class="projectTitle">
								<a href="{{ post.link }}">{{ post.title }}</a>
							</h5><!--end projectTitle-->
							<div class="projectMeta">
								<span class="projectDate">{{ post.pub_date.month }}月 {{ post.pub_date.day }} 日, {{ post.pub_date.year }}</span>
								<span class="projectLike"></span>
							</div><!--end projectMeta-->
						</div>
					</article><!--end an recentPost article-->
					{% endif %}
				{% endfor %}
					
				</div><!--end lastRecentPost-->
			{% endblock %}
			{% block nav_tabs %}
				<div id="navTabs">
					<ul>
						<li><a href="#navTabs-1">最新</a></li>
						<li><a href="#navTabs-2">最热</a></li>
						<li><a href="#navTabs-3">留言</a></li>
						<li><a href="#navTabs-4">标签</a></li>
					</ul>
					<div id="navTabs-1" class="navTabsClass tabsPosts">
						<ul>
						{% for post in data.posts_getter.lastest %}
							{% if forloop.counter < 5 %}
							<li>
								<div class="tabsPostThumb">
									<div class="ntabImg"><img class="attachment-samll gg-blog-image"  alt="edunews-banner" src="{% if post.cover_link %}{{ post.cover_link }}{% else %}{{ data.basic_info.template_root }}/img/main/posticon/glassgear.png{% endif %}" /></div>
								</div>
								<div class="tabsPostDetail">
									<a href="{{ post.link }}">{{ post.title }}</a>
									<p>{{ post.pub_date.year }}年{{ post.pub_date.month }}月{{ post.pub_date.day }}日</p>
								</div>
							</li>
							{% endif %}
						{% endfor %}	
							<li class="clear"></li>
						</ul>
						
					</div><!--end navTabs-1-->
					<div id="navTabs-2" class="navTabsClass tabsPosts">
						<ul>
						{% for post in data.posts_getter.hotest %}
							{% if forloop.counter < 5 %}
							<li>
								<div class="tabsPostThumb">
									<div class="ntabImg"><img class="attachment-samll gg-blog-image"  alt="edunews-banner" src="{% if post.cover_link %}{{ post.cover_link }}{% else %}{{ data.basic_info.template_root }}/img/main/posticon/glassgear.png{% endif %}" /></div>
								</div>
								<div class="tabsPostDetail">
									<a href="{{ post.link }}">{{ post.title }}</a>
									<p>{{ post.pub_date.year }}年{{ post.pub_date.month }}月{{ post.pub_date.day }}日</p>
								</div>
							</li>
							{% endif %}
						{% endfor %}
							<li class="clear"></li>
						</ul>
					</div><!--end navTabs-2-->
					<div id="navTabs-3" class="navTabsClass tabsComments">
						<ul>
							{% for comment in data.comments_getter.lastest %}
							{% if forloop.counter < 5 %}
							<li>
								<div class="tabsPostThumb">
									<div class="ntabImg"><img class="attachment-samll gg-blog-image"  alt="edunews-banner" src="{{ data.basic_info.template_root }}/img/main/posticon/glassgear.png" /></div>
								</div>
								<div class="tabsPostDetail">
									<a href="#">{{ comment.content }}</a>
									<p>{{ comment.date }}</p>
								</div>
							</li>
							{% endif %}
							{% endfor %}
							<li class="clear"></li>
						</ul>
					</div><!--end navTabs-3-->
					<div id="navTabs-4" class="navTabsClass tabsTags">
						<ul> 
						{% for tag in data.tags_getter.general %}
							<li><a href="{{ tag.link }}">{{ tag.tagname }}</a></li>
						{% endfor %}
						</ul>
					</div><!--end navTabs-4-->
					
				</div><!--end div navTabs-->
			{% endblock %}
			</div><!--end maintContainer  rightContent-->
			<div class="clear"></div>
		</div>
	</div><!--end mainContainer-->
	
	<div id="footer">
		<div id="infoCollection">
			<div id="tellMe">
				{% block tell_me %}
				<p>给我留言</p>
				<form method="post" action="{{ data.basic_info.blog_comment_url }}/" id="postComments">
					{% csrf_token %}
					<input type="hidden" id="fnext" name="fnext" value="{{ data.basic_info.path }}" />
					<input type="text" id="fname" name="fusername" class="text" placeholder="尊姓大名（必填）"/>
					<input type="email" id="femail" name="femail" class="text" placeholder="Email(必填)"/>
					<input type="text" id="fwebsite" name="fwebsite" class="text" placeholder="你的主页（选填）"/>
					<textarea type="text" id="fmessage" name="fmessage" placeholder="留言内容" rows="8" cols="50"></textarea>
					<input id="tellMeformSubmit" class="btn darkBtn" type="submit" name="submit" value="发表留言" />
				</form><!--end form comments-->
				{% endblock %}
			</div>
			<div id="footerSideBar">
				<div class="aboutMe">
					<p>关于</p>
					{% if data.basic_info.blog_settings.short_about %}
						<p>{{ data.basic_info.blog_settings.short_about }}</p>
					{% endif %}
				</div>
				<div class="friendsLinks">
					<p>友情链接</p>
					<ul>
						{% for link in data.link_getter.links %}
						<li><img class="linkIcon"><a href="{{ link.target_url }}" target="_blank" >{{ link.name }}</a></li>					
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div><!--end div infoCollection-->
		<div class="clear"></div>
		<div id="copyright">
			<p>GG-Blog Powered by 
			<a href="http://www.python.org"><img alt="Python" src="{{ data.basic_info.template_root }}/img/main/icon/logo_python_white.png"></a>
			&amp;
			<a href="http://www.djangoproject.com"><img alt="Django" src="{{ data.basic_info.template_root }}/img/main/icon/logo_django_white.png"></a> winkidney 2013&copy;</p>
		</div>
	</div><!--end div footer-->
</div><!--end div boxed-->

<script type="text/javascript" charset="utf-8" src="{{ data.basic_info.template_root }}/js/image-better.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ data.basic_info.template_root }}/js/ajax.js"></script>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0" charset="utf-8"></script>
<!-- JiaThis Button END -->
</body>
</html>
