{% extends "blog/base.html" %}
{% block title %}{{ post.post_title }}-阅读页面-{% endblock %}
{% block js %}
<script type="text/javascript" charset="utf-8" src="{{ static_root }}blog/js/resize-img.js"></script>
{% endblock %}
{% block mainbar %}
      <div class="mainbar">
        <div class="article">
          <h2><span>{{ post.post_title }}</span> {{ post.post_name }}</h2><div class="clr"></div>
          <p>
			  作者：<a href="#">{{ author_name }}</a> <span>&nbsp;&bull;&nbsp;</span>
			  分类：<a href="{{ blog_root_url }}threadtype/{{ threadtype.name }}/">{{ threadtype.name }}</a>
		  </p>
		  {% autoescape off %} 
				{{ post.post_content }}
		  {% endautoescape %}
		  <p>
			  标签：{% for tag in tags %} 
						<a href="{{ blog_root_url }}tags/{{ tag.tagname }}/">{{ tag.tagname }}</a>, 
					{% endfor %}
		  </p>
          <p>
			  <a href=""><strong>评论 ({{ post.post_comment_count }})</strong></a>  <span>&nbsp;&bull;&nbsp;</span>{{ post_date }}<span>&nbsp;&bull;&nbsp;</span>  
			  {% if show_edit %}
			  <a href="{{ blog_root_url }}manage/edit/{{ article_id }}/"><strong>编辑</strong></a>
			  {% endif %}
		  </p>
        </div>
      
        <div class="article">
          <h2><span> 回复</span>&nbsp;{{ post.post_comment_count }}</h2><div class="clr"></div>
		 {% if post.post_comments.all %}
			{% for comment in post.post_comments.all %}
				<div class="comment">
					<a href="#"><img src="{{ static_root }}blog/images/userpic.gif" width="40" height="40" alt="user" class="userpic" /></a>
					<p><a href="#">{{ comment.comment_author }}</a> 发表于：<br />{{ comment.comment_date }}</p>
					<p>{{ post.comment_content }}</p>
				</div>
			{% endfor %}
       {% endif %}
        </div>
        
        <div class="article">
          <h2><span>留言板</span></h2><div class="clr"></div>
          
          <form action="" method="post" id="leavereply">
			  {% csrf_token %}
			  <ol>
			  {% if notlogin %}
				<li>
					<label for="name">大名（必填）</label>
					{{ comment_form.comment_author.errors }}
					{{ comment_form.comment_author }}
				</li><li>
					<label for="email">电子邮件（必填）</label>
					{{ comment_form.comment_auhtor_email.errors }}
					{{ comment_form.comment_author_email }}
				</li><li>
					<label for="website">个人主页</label>
					{{ comment_form.comment_author_url.errors }}
					{{ comment_form.comment_author_url }}
				</li>
				{% endif %}
				<li>
					<label for="message">留言</label>
					<span style="color:red">{{ comment_form.comment_content.errors }}</span>
					{{ comment_form.comment_content }}
				</li><li>
					<input type="submit" name="post_comment"  value="发布留言" >
					<div class="clr"></div>
				</li>
				</ol>
          </form>
          
        </div>
        
        
      </div>
{% endblock %}
     
