{% extends "admin/change_form.html" %}
{% block title %}{{ request.extra_data.basic_info.blog_settings.site_name }}{% endblock %}
{% block extrahead %}
<script type="text/javascript" charset="utf-8">
	window.UEDITOR_HOME_URL = "/static/share/ueditor/";
</script>
<script type="text/javascript" charset="utf-8" src="/static/share/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/share/ueditor/ueditor.all.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/share/ueditor/themes/default/css/ueditor.css"/> 
{% endblock %}
{% block branding %}
<h1 id="site-name">{{ request.extra_data.basic_info.blog_settings.site_name }}</h1>
{% endblock %}
{% block after_related_objects %}
<script>
	var ue=new UE.ui.Editor();
	ue.render('id_content');
</script>
{% endblock %}
