{% extends "manage/base.html" %}
{% block title %}发表文章{% endblock %}
{% block specified_head %}
	<script type="text/javascript" charset="utf-8">
        window.UEDITOR_HOME_URL = "{{ static_root }}share/ueditor/";
    </script>
    <script type="text/javascript" charset="utf-8" src="{{ static_root }}share/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ static_root }}share/ueditor/ueditor.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_root }}share/ueditor/themes/default/css/ueditor.css"/>    
{% endblock %}
{% block right_content %}
    <h2>发表文章</h2>
    <div class="form">
		<form action="" method="post" >
		{% csrf_token %}
		<dl>
			<label for="comments">文章标题</label>
			<input type="text" name="title" id="" size="54" />
		</dl>
		<dl>
		<label for="comments">文章别名</label>
			<input type="text" name="short_title" id="" size="54" />
		</dl>
		<dl>
		<label for="comments">文章封面图片url</label>
			<input type="text" name="cover_url" id="" size="54" />
		{% comment %}
		<dl>	
			<label for="upload">上传</label>
			<input type="file" name="upload" id="upload" />
		</dl>
		{% endcomment %}
		<dl>
			<label for="comments">文章简介</label>
			<input type="text" name="summarise" id="" size="54" />
		</dl>
		<dl>
			<label for="comments">文章内容</label>
			<textarea id="content" name="content" style="width:575px;line-height:18px;"></textarea>
           
        </dl>
        <dl>
			<label for="comments">不显示评论</label>
			<input type="checkbox" name="commentnotshow" id="" value="" />
        </dl>
        <dl>
				
              <label for="comments">文章标签</label>
         {% for tag in tags %}
              <label class="check_label">{{ tag.tagname }}</label><input type="checkbox" name="tag"  value="{{ tag.id }}" />
			{% endfor %}
        </dl>
		<dl>
			<label for="comments">文章分类</label>
                            <select size="1" name="threadtype" id="">
								{% for threadtype in threadtypes %}
                                <option value="{{ threadtype.id }}">{{ threadtype.name }}</option>
                        {% endfor %}
                            </select>
		</dl>
		<dl>
				<dt><input type="submit" name="postall"  value="发表文章" ></dt>
        </dl>
        </form>
	</div>  
{% endblock %}
{% block add_on %}
	<script>
		var ue=new UE.ui.Editor();
		ue.render('content');
	</script>
{% endblock %}
