{% extends "blog/base.html" %}
{% block title %}{{ basic_info.site_name }}{{ post.post_title }}-阅读页面-{% endblock %}
{% block js %}
<script type="text/javascript" charset="utf-8" src="{{ static_root }}blog/js/resize-img.js"></script>
{% endblock %}
{% block left_content %}
				<article>
					<aside class="postSide">
						<div class="postFormat">
							<i class="formatIcon webBlog"></i>
						</div>
						<div class="postDate">
							<span class="postMonth">aug</span>
							<span class="postDay">06</span>
							<span class="postYear">2013</span>
						</div>
						<div class="like_it">
							<a id="like-0000" class="likeThis" href="#">
								<span class="icon heart"></span>
								<span class="like_count">10</span>
							</a>
						</div>
					</aside><!--end aside postside-->
					<div class="postContent">
						<h1>
							<a href="#">{{ post.post_title }}-{{ post.post_name }}</a>
						</h1>
						<ul class="postMeta">
							<li class="postAuthor"><span class="icon postAuthor"></span>{{ author_name }}</li>
							<li class="postTags"><span class="icon postTags"></span>
								{% for tag in tags %}
									<a href="{{ blog_root_url }}tags/{{ tag.tagname }}/">{{ tag.tagname }}</a>, 
								{% endfor %}
							</li>
							<li class="commentCount"><span class="icon postComments"></span>{{ post.post_comment_count }}次吐槽</li>
							<li class="edit">
								{% if show_edit %}
									<a href="{{ blog_root_url }}manage/edit/{{ article_id }}/"><strong>编辑</strong></a>
								{% endif %}
							</li>
						</ul>
						<div class="mainPostContents">
							{% autoescape off %} 
								{{ post.post_content }}
							{% endautoescape %}
						</div><!--end mainPostContents-->
					</div><!--end  postContent-->
				</article><!--end article-->
				
				
				<article class="commentsBlock">
					<aside class="postSide">
						<div class="postFormat">
							<i class="formatIcon comments"></i>
						</div>
					</aside><!--end aside postside-->
					<div class="postContent">
						<h1>
							<a href="#">评论列表 | 玻璃齿轮</a>
						</h1>
						
						<div class="mainPostContents">
							<ul class="commentsList">
								<li>
									<div class="comment-avatar" ><img src="img/main/posticon/glassgear.png"></div>
									<div class="comment-content">
										<div class="comment-header">
											<a href="#">阿毛</a>
										</div>
										<div class="comment-body">
											<p>评论内容，这就是评论内容啊</p>
										</div>
										<div class="comment-function">
											<span class="comment-date">10月7日 2013</span>
											<a href="#"><span class="replyIcon"></span>回复</a>
										</div>
									</div>
								</li>
								
								<li class="comment-of-comment">
									<div class="comment-avatar" ><img src="img/main/posticon/glassgear.png"></div>
									<div class="comment-content">
										<div class="comment-header">
											<a href="#">阿毛</a>
										</div>
										<div class="comment-body">
											<p>评论内容，这个是子评论内容</p>
										</div>
										<div class="comment-function">
											<span class="comment-date">10月7日 2013</span>
											<a href="#"><span class="replyIcon"></span>回复</a>
										</div>
									</div>
								</li><!--end comment-of comment li-->
							</ul><!--end ul commentList-->
						</div><!--end mainPostContents-->
						
					</div><!--end  postContent-->
				</article><!--end article postCommentlist-->
				
				<div class="mainPagination paginationArticle">
						<a href="#" class="previousPage blackToWhiteBtn" >&lt;</a>
						<a href="#" class="nextPage blackToWhiteBtn" >&gt;</a>
				</div><!--end mainPagination-->
{% endblock %}
{% block main_pagination %}{% endblock %}
{% block tell_me %}
				<h2>发表评论</h2>
				<form method="post" action="#" id="postComments">
					<input type="text" id="fname" name="fname" class="text" placeholder="尊姓大名（必填）"/>
					<input type="email" id="femail" name="femail" class="text" placeholder="Email(方便回复通知)"/>
					<input type="text" id="fwebsite" name="fwebsite" class="text" placeholder="你的主页（选填）"/>
					<textarea type="text" id="fmessage" name="fmessage" placeholder="留言内容" rows="8" cols="50"></textarea>
					<input id="tellMeformSubmit" class="btn darkBtn" type="submit" name="submit" value="教练，我要吐槽！" />
				</form><!--end form comments-->

{% endblock %}

